<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%thread] %-5level  %logger{35} - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.paypal.java.spring.logging.app" additivity="false"
		level="ERROR" >
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.paypal.java.spring.logging.impl" additivity="false" level="DEBUG">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.paypal.java.spring.logging.impl2" additivity="false" level="INFO" >
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.paypal.java.spring.logging.impl3" additivity="false" level="WARN">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="TRACE">
			<appender-ref ref="STDOUT" />
	</root>
</configuration>